doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block stylesheets
        title Todo App - #{page_title}
    body
        header
            div#titling
                h2#page-title #{page_title}
            nav
                block links
        block main_content
