extends index.pug

block stylesheets
    link(rel="stylesheet", href="css/index.css")

block links
    a.nav-link(href="/") Landing

block main_content
    main
        section
            h4 About
            p This project is a simple To-Do application, and it was created to review and apply personal JavaScript and SQL knowledge.
        section
            h4 Credits
            p By: Derek Tan
            p Github: DrkWithT
