extends index.pug

block stylesheets
    link(rel="stylesheet", href="css/index.css")

block links
    //- Navigation links
    a.nav-link(href="/info") Information

block main_content
    main
        section
            h4 Managing Form
            form(action="/", method="post")
                //- Action: 1 is get, 2 is add, 3 is delete!
                label.form-label(for="action") Action
                input#action-input(name="action" type="number" min="1" max="3")
                //- Title: subject heading of todo entry.
                label.form-label(for="title") Title
                input#title-input(name="title" type="text" minlength="8" maxlength="72")
                //- Description: info about todo entry.
                label.form-label(for="description") Description 
                textarea#description-input(name="description" type="text" minlength="8" maxlength="104")
                input#submitter(type="submit", value="Submit")
        section
            h4 Query Result
            //- For simplicity, only 1 message entry is shown at a time.
            div#task-box
                h6 #{result_title}
                p #{result_text}
