extends index.pug

block stylesheets
    link(rel="stylesheet", href="css/index.css")

block links
    //- TODO!
    a.nav-link(href="#") Help

block main_content
    main
        section
            h4 Managing Form
            form(action="/", method="post")
                //- Action: 1 is get, 2 is add, 3 is delete!
                label.form-label(for="action") Action
                input#action-input(name="action" type="number" min="1" max="3")
                //- Title: subject heading of todo entry.
                label.form-label(for="title") Title
                input#title-input(name="title" type="text")
                //- Description: info about todo entry.
                label.form-label(for="description") Description 
                input#description-input(name="description" type="text" maxlength="48")
        section
            h4 Query Result
            div.task-box
                h6 #{result_title}
                p #{result_text}
